.address{
  width: 100%;
  height: 85vh;
  background: white;
  padding-top: 50px;
  margin-bottom: 100px;
}
.address-container{
  width: 580px;
  height: 670px;
  background: white;
  margin: auto;
  padding: 40px 60px;
  text-align: left;
}
.address-container h{
  margin: 20px 0px;
}
.address-fields{
  display: flex;
  flex-direction: column;
  gap: 29px;
  margin-top: 30px;
}
.address-fields input{
  height: 72px;
  width: 100%;
  padding-left: 20px;
  border: 1px solid #c9c9c9;
  outline: none;
  font-size: 18px;
}
.address-fields input .addresss{
  width: 80;
  padding: 0px;
}
.address-fields div{
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.address-container button{
  height: 72px;
  width: 100%;
  padding-left: 20px;
  background: #ff4141;
  color: white;
  border: none;
  margin-top: 30px;
  font-size: 24px;
  font-weight: 400;
  cursor: pointer;
}
@media(max-width: 1280px)
{
  .address{
      padding-top: 50px;
  }
  .address-container{
      width: auto;
      max-width: 500px;
      max-height: 580px;
  }
  .address-container h1{
      margin: 10px 0px;
  }
  .address-fields{
      gap: 20px;
      margin-top: 20px;
  }
  .address-fields input{
      height: 70px;
      width: 93%;
  }
  .address-container button{
      width: 100%;
  }
}
@media(max-width: 800px)
{
  .address-container{
      padding: 20px 30px;
  }
  .address-container h1{
      font-size: 24px;
  }
  .address-fields{
      margin-top: 20px;
  }
  .address-fields input{
      height: 60px;
  }
  .address-container button{
      font-size: 16px;
      height: 50px;
  }
}